# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~


# due to using tox and pytest
.tox
.cache

# Additional
setup.cfg
setup.py
tests/
data/
tox.ini
pyproject.toml